*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    color: #1A1A1A;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
}

.menu-icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

h2 {
    color: #FF1E82;
    font-size: 20px;
    
    margin: 0; 
    flex-grow: 1; 
    text-align: center;
    font-family: sans-serif;
     
}

img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FF1E82; 
    padding: 2px; 
}

button{
    background-color: #FF1E82;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    align-items: center;
    border-radius: 40px;
    border: none;
    color: #f4f4f4;
    gap: 8px;
    padding: 6px 12px 6px 12px ;
    font-size: 20px;
    opacity: 0.90;
    z-index: 1000;
}
button:hover{
    opacity: 1;
}

section{
    padding: 20px;
    background-color: transparent;
    font-family: sans-serif;

}

h1{
    font-size: 30px;
    margin: 10px 0 10px 0;
}

h3{
    font-size: 23px;
    margin: 10px 0 40px 0;
    color: #1A1A1A;
    font-family: sans-serif;
}

.cadsLista{
    background-color:white;
    border-radius: 15px;
    margin: 40px 0 15px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.05);

}

.badgeItens{
    background-color: #f0f0f0;
    color: #585757;
    font-size: 13px;  
    font-weight: 500;
    border-radius: 40px;
    padding: 4px 12px;     
    display: inline-block; 
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    color: #555;
}

.paragrafoCards{
    
    color: #585757;
    font-size: 16px;
    margin: 1px 0 1px 0;
}

/* Container que deve ocupar a largura toda */
.paragrafoCardsBotao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-top: 20px;
    padding-right: 5px;
}


.bt {
    /* Resetando o que o botão global faz */
    position: static;   /* Tira o 'fixed' que joga ele pra fora do card */
    background: none;   /* Tira o fundo rosa */
    border: none;
    color: #FF1E82;     /* Cor cinza da seta */
    
    /* Estilo da seta */
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: block;     /* Garante que ele seja tratado como bloco */
}

.bt:hover {
    color: #FF1E82;
    background: none;
}

